doctype html

html
        head
            meta(charset="utf-8")
            link(href="/build/combined.css", rel="stylesheet", type="text/css")

            title= pageTitle

        body
            #container.class1.class2.class3
            h1 Jade Page

        script(scr="/build/combined.js")
